# Maven
target/

# Gradle
build/

# IntelliJ IDEA
.idea/
*.iml

# private key ec2 instance
*.pem


# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Mac
.DS_Store

# Logs
*.log
logs/

# Environment
.env
